.header-container {
    position: relative;
    padding-top: 1px;
    background-image: linear-gradient(#721AE3 , #532F9F);
    height: 800px;
}

.header-container::after{
    content: " ";
    right: 0;
    bottom: -5px;
    opacity: 1;
    left: 0;
    height: 450px;
    position: absolute;
    z-index: 1;
    background-position: center top;
    background-size: cover;
    background-image: url('../../../../images/wave1.png');
}


